<section>

    <h1>My Team</h1>

    <div class="tbl-header">
        <table border="0" aria-describedby="Teams Table Head">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let header of tableHeaders">
                        {{header}}
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="tbl-content">
        <table border="0" aria-describedby="Teams Table Body">
            <tbody>
                <tr *ngFor="let team of (teams$ | async)">
                    <th id="name">{{team.name}}</th>
                    <th id="">{{team.country}}</th>
                    <th id="players">
                        <p *ngFor="let player of team.players">{{player.name}}</p>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

</section>